.musicpromoute {
    width: 280px;
    height: 418px;
    background-color: #f6afcf;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 55px;
}

.musicpromoute__quotes {
    display: block;
    font-family: "Brush_Script";
    color: #ffffff;
    font-size: 178px;
    position: absolute;
    z-index: 2;
}

.musicpromoute__info {
    position: absolute;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 316px;
    color: #4f181d;
    font-size: 19px;
    font-family: "Montserrat-Medium";
    font-weight: 900;
    text-align: center;
    z-index: 3;
}

.info__description {
    line-height: 30px;
    font-weight: 600;
    width: 210px;
}

.musicpromoute__circle1,
.musicpromoute__circle2 {
    position: absolute;
    opacity: 0.5;
    width: 192px;
    height: 192px;
    background-color: #f7cadc;
    border-radius: 50%;
}

.musicpromoute__circle1 {
    top: -7px;
    left: 44px;
}

.musicpromoute__circle2 {
    top: 89px;
    left: 125px;
}


@media (min-width: 768px) {
    .musicpromoute {
        width: 688px;
        height: 172px;
    }

    .musicpromoute__quotes {
        top: -9px;
        left: 9px;
    }

    .musicpromoute__info {
        width: 613px;
        height: 81px;
        top: 43px;
        left: 50%;
    }

    .info__description {
        width: 613px;
    }

    .musicpromoute__circle1 {
        left: 472px;
        top: -37px;
        height: 194px;
    }

    .musicpromoute__circle2 {
        left: 560px;
        top: 75px;
        height: 194px;
    }

    .musicpromoute__circle1,
    .musicpromoute__circle2,
    .musicpromoute__circle3,
    .musicpromoute__circle4 {
        position: absolute;
        opacity: 0.5;
        width: 194px;
        background-color: #f7cadc;
        border-radius: 50%;
    }

    .musicpromoute__circle3 {
        position: absolute;
        left: 117px;
        top: -26px;
        height: 194px;
        display: block;
    }

    .musicpromoute__circle4 {
        position: absolute;
        left: -25px;
        top: 35px;
        height: 195px;
        display: block;
    }
}

@media (min-width: 1280px) {
    .musicpromoute {
        width: 1200px;
        height: 222px;
    }

    .musicpromoute__quotes {
        left: 204px;
    }

    .musicpromoute__info {
        font-size: 22px;
        width: 885px;
        height: 88px;
        left: 50%;
        top: 67px;
    }

    .info__description {
        width: 1016px;
    }

    .info__description::first-line {
        width: 600px;
    }

    .musicpromoute__circle1,
    .musicpromoute__circle2,
    .musicpromoute__circle3,
    .musicpromoute__circle4 {
        width: 271px;
        height: 271px;
    }

    .musicpromoute__circle1 {
        left: 856px;
        top: -132px;
    }

    .musicpromoute__circle2 {
        left: 981px;
        top: 37px;
    }

    .musicpromoute__circle3 {
        left: 354px;
        top: -106px;
    }

    .musicpromoute__circle4 {
        left: 153px;
        top: -19px;
    }
}

@media (min-width: 1920px) {
    .musicpromoute {
        width: 1584px;
        height: 222px;
    }

    .musicpromoute__quotes {
        left: 358px;
    }

    .musicpromoute__info {
        font-size: 26px;
        width: 1016px;
        height: 101px;
        left: 50%;
        top: 62px;
    }

    .musicpromoute__circle1 {
        left: 1026px;
        top: -132px;
    }

    .musicpromoute__circle2 {
        left: 1151px;
        top: 37px;
    }

    .musicpromoute__circle3 {
        left: 334px;
        top: -106px;
    }

    .musicpromoute__circle4 {
        left: 133px;
        top: -19px;
    }
}