@import "./font.scss";
@import "./header.scss";
@import "./slider.scss";
@import "./propositions.scss";
@import "./categories.scss";
@import "./musicpromoute.scss";
@import "./reservation.scss";
@import "./gallery.scss";
@import "./guestsphoto.scss";
@import "./footer.scss";
@import "./modalBackDrop.scss";
@import "./mycss.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
